{% extends "customers_new/layout.html" %}
{% block content %}


  <br><br>
  <div id="app">
    <div class="container-fluid" style="margin-top: 30px">
      <h1 class="h3 mb-2 text-gray-800">Mango Customer</h1>
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="mr-5"><span id="message-count">{{ data.CON }} </span>Construction</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="mr-5"><span id="message-count">{{ data.REAL }} </span>Real Estate</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="mr-5"><span id="order-count">{{ data.PLAN }} </span>Project Planning</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="mr-5"><span id="order-count">{{ data.OTHER }} </span>OTHER</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Revenue Chart
              <button type="button" style="margin-left: 10px"
                      v-on:click="buttonOnChart" class="btn btn-dark btn-sm">
                <i v-bind:class="{'fa fa-eye-slash': showHideChart, 'fa fa-eye': !showHideChart}"
                   aria-hidden="true"></i>
                {#                [[nameChart()]]#}
              </button>
            </div>
            <div class="card-body" :hidden="!showHideChart">
              <div class="row">
                <div class="col-sm-8 my-auto">
                  <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
                <div class="col-sm-4 text-center my-auto">
                  <div class="h4 mb-0 text-primary">{{ data.amount }}</div>
                  <div class="small text-muted">ข้อมูลลูกค้า</div>
                  <hr>
                  <div class="h4 mb-0 text-warning">{{ data.import }}</div>
                  <div class="small text-muted">นำเข้า</div>
                  <hr>
                  <div class="h4 mb-0 text-success">{{ data.getDemo }}</div>
                  <div class="small text-muted">นัดDemo</div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>

        <div class="col-lg-4">
          <!-- Example Notifications Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> ข้อความ ฟีด
              <button type="button" style="margin-left: 10px"
                      v-on:click="buttonOnFeed" class="btn btn-dark btn-sm">
                <i v-bind:class="{'fa fa-eye-slash': showHideFeed, 'fa fa-eye': !showHideFeed}"
                   aria-hidden="true"></i>
              </button>
            </div>
            <div class="list-group list-group-flush small" :hidden="!showHideFeed">
              <div id="message-box">
                <a class="list-group-item list-group-item-action" href="#">
                  <div class="media">
                    {% set value = data.information[-1] %}
                    {% set img = value.Picture %}
                    <img class="d-flex mr-3 rounded-circle" src="{{ img }}" alt="" height="60">
                    <div class="media-body">
                      <strong>
                        {{ value.Name }}
                      </strong> ได้มีการเลือกผลิตภัณฑ์
                      <strong>{{ value.Product }} {{ value.Email }}</strong>
                      <div class="text-muted smaller">
                        ในวันที่ {{ value.Date }} {{ value.Time }}</div>
                    </div>
                  </div>
                  <div class="media" style="margin-top: 8px">
                    {% set r = randrange(1, data.amount) %}
                    {% set value = data.information[r] %}
                    {% set img = value.Picture %}
                    <img class="d-flex mr-3 rounded-circle" src="{{ img }}" alt="" height="60">
                    <div class="media-body">
                      <strong>
                        {{ value.Name }}
                      </strong> ได้มีการเลือกผลิตภัณฑ์
                      <strong>{{ value.Product }} {{ value.Email }}</strong>
                      <div class="text-muted smaller">
                        ในวันที่ {{ value.Date }} {{ value.Time }}</div>
                    </div>
                  </div>
                  <div class="media" style="margin-top: 8px">
                    {% set r = randrange(1, data.amount) %}
                    {% set value = data.information[r] %}
                    {% set img = value.Picture %}
                    <img class="d-flex mr-3 rounded-circle" src="{{ img }}" alt="" height="60">
                    <div class="media-body">
                      <strong>
                        {{ value.Name }}
                      </strong> ได้มีการเลือกผลิตภัณฑ์
                      <strong>{{ value.Product }} {{ value.Email }}</strong>
                      <div class="text-muted smaller">
                        ในวันที่ {{ value.Date }} {{ value.Time }}</div>
                    </div>
                  </div>
                </a>
              </div>
              {#                        <a class="list-group-item list-group-item-action" href="#">View all activity...</a>#}
            </div>
            <div class="card-footer small text-muted">อัพเดตล่าสุดแล้ว</div>
          </div>
        </div>
      </div>
      <form action="" method="POST">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <div class="row">
              <div class="col-sm-8">
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="btn btn-outline-success active" data-toggle="pill"
                       href="#information">
                      <i class="fa fa-users"></i>
                      ข้อมูลลูกค้า
                      <span class="badge badge-light">{{ data.amount }}</span>
                    </a>
                  </li>

                  <li class="nav-item" style="margin-left: 10px">
                    <a href="/marketing_import" class="btn btn-outline-success">
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      นำเข้า
                      <span class="badge badge-light">{{ data.import }}</span>
                    </a>
                  </li>

                  <li class="nav-item" style="margin-left: 10px">
                    <a href="/getDemo"
                       class="btn btn-outline-success">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      นัดDemo
                      <span class="badge badge-light">{{ data.getDemo }}</span>
                    </a>
                  </li>

                  <li class="nav-item" style="margin-left: 10px">
                    <a href="/getContract">
                      <a
                          class="btn btn-outline-success">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        ติดต่อเรา
                        <span class="badge badge-light">{{ data.amount_getContract }}</span>
                      </a>
                    </a>
                  </li>

                </ul>
              </div>

              <div class="col-sm-4">
                <div class="align-content-end">
                  <button type="button"
                          v-on:click="buttonOnTable" class="btn btn-dark btn-sm">
                    <i v-bind:class="{'fa fa-eye-slash': showHide, 'fa fa-eye': !showHide}"
                       aria-hidden="true"></i>
                    {#                  [[nameTable()]]#}
                  </button>

                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                          data-target="#addCustomer">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Customer
                  </button>

                  <a href="/excel_all/information" class="btn btn-sm btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    Export Excel
                  </a>

                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                          data-target="#myModal">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Remove All
                  </button>
                  <div class="modal fade" id="addCustomer">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Add Customer</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;
                          </button>
                        </div>
                        <div class="modal-body">

                          <div class="card">
                            <div class="card-header">
                              <i class="fa fa-edit">
                              </i>
                              เพิ่มข้อมูล
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="authorized">ทุนจดทะเบียน</label>
                              <input type="text"
                                     :class="getInputClass('authorized')"
                                     v-model="formElements.authorized.value"
                                     @keyup="onChangeForm($event)"
                                     placeholder="Enter Authorized"
                                     name="authorized"
                                     value="">
                              [[getErrorMessage('authorized')]]
                            </div>
                            <div class="form-group">
                              <label for="tax">เลขผู้เสียภาษี</label>
                              <input type="text"
                                     :class="getInputClass('tax')"
                                     v-model="formElements.tax.value"
                                     @keyup="onChangeForm($event)"
                                     placeholder="Enter Tax"
                                     name="tax"
                                     value="">
                              [[getErrorMessage('tax')]]
                            </div>
                            <div class="form-group">
                              <label for="position">ตำแหน่ง</label>
                              <input type="text"
                                     :class="getInputClass('position')"
                                     v-model="formElements.position.value"
                                     @keyup="onChangeForm($event)"
                                     placeholder="Enter Position"
                                     name="position"
                                     value="">
                              [[getErrorMessage('position')]]
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" name="button_event" value="button_add"
                                  class="btn btn-info btn-sm" :disabled="!formValid">
                            <i class="fa fa-check-square-o"></i>
                            Add
                          </button>

                          <button type="button" class="btn btn-danger btn-sm"
                                  data-dismiss="modal">
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {#                            </form>#}
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Confirm Delete</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;
                          </button>
                        </div>
                        <div class="modal-body">
                          Delete all transaction... <br>
                          Are you sure ?
                        </div>
                        <div class="modal-footer">
                          <a {% for d in data.information %}
                            href="/delete/{{ d.key }}"
                          {% endfor %} class="btn btn-danger btn">Remove All</a>
                          <button type="button" class="btn btn-danger btn"
                                  data-dismiss="modal">
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body" :hidden="!showHide">
            <div class="tab-content">
              <div id="information" class="tab-pane active">
                <div class="footer">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="dropdown btn-group dropright" style="margin-bottom: 15px">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false"
                                data-toggle="dropdown">
                          Tag Sort
                        </button>
                        <div class="dropdown-menu">
                          <div class="form-check">
                            <li class="dropdown-header">Select Tag</li>
                            <li class="divider"></li>
                            {% for tag in data.tag %}
                              <div class="dropdown-item">
                                <input class="tag_sort"
                                       type="checkbox"
                                       name="tags"
                                       id="{{ tag }}"
                                       value="{{ tag }}"
                                    {% if tag in data %} checked {% endif %}>
                                <label for="{{ tag }}" class="getvalue"
                                       data-toggle="{{ tag }}"
                                       title="">
                                  {% if tag == '' %}
                                    ล้างแท็ก
                                  {% endif %}
                                  {% if tag == 'CB010' %}
                                    รับเหมาสาธารณูปโภค
                                  {% endif %}
                                  {% if tag == 'CC010' %}
                                    รับเหมาก่อสร้างระบบวางท่อ
                                  {% endif %}
                                  {% if tag == 'CG010' %}
                                    งานระบบประกอบอาคาร
                                  {% endif %}
                                  {% if tag == 'CI010' %}
                                    รับเหมาก่อสร้างพลังงานทดแทน
                                  {% endif %}
                                  {% if tag == 'CJ010' %}
                                    รับเหมาก่อสร้างงานอาคาร
                                  {% endif %}
                                  {% if tag == 'CM010' %}
                                    ออกแบบตกแต่ง
                                  {% endif %}
                                  {% if tag == 'CF010' %}
                                    รับเหมาขุดเจาะ
                                  {% endif %}
                                  {% if tag == 'CP010' %}
                                    งานอลูมิเนียม
                                  {% endif %}
                                  {% if tag == 'CE010' %}
                                    ผลิตและติดตั้ง
                                  {% endif %}
                                  {% if tag == 'CH010' %}
                                    งานบริการ
                                  {% endif %}
                                  {% if tag == 'CK010' %}
                                    รับสร้างบ้าน
                                  {% endif %}
                                  {% if tag == 'CN010' %}
                                    ไม่แน่ใจ
                                  {% endif %}
                                  {% if tag == 'CD010' %}
                                    ขาย
                                  {% endif %}
                                  {% if tag == 'RC010' %}
                                    อสังหาฯ
                                  {% endif %}
                                  {% if tag == 'RA010' %}
                                    แนวราบ
                                  {% endif %}
                                  {% if tag == 'RB010' %}
                                    แนวสูง
                                  {% endif %}
                                </label>
                              </div>
                            {% endfor %}
                          </div>
                          <div class="dropdown-divider"></div>

                          <div class="row">

                            <button type="submit" name="button_event"
                                    style="margin-left: 15px"
                                    value="button_tag"
                                    class="btn btn-secondary btn-sm"
                            >
                              <i class="fas fa-tags"></i>
                              Apply
                            </button>


                            <button type="submit" name="button_event"
                                    style="margin-left: 5px"
                                    value="button_sorting"
                                    class="btn btn-secondary btn-sm"
                            >
                              <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                              Sorting
                            </button>

                            <button type="submit" name="button_event"
                                    style="margin-left: 5px"
                                    value="button_remove_tag"
                                    class="btn btn-secondary btn-sm"
                            >
                              <i class="fa fa-eraser" aria-hidden="true"></i>
                              Clear
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown btn-group dropright" style="margin-bottom: 15px">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false"
                                data-toggle="dropdown">
                          <i class="fa fa-columns" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu">
                          <div class="form-check" id="columnshow">
                            <li class="dropdown-header">Select Column</li>
                            <li class="divider"></li>
                            <div class="dropdown-item">
                              <input type="checkbox" class="checkBB" name="_tag"
                                     id="_tag" data-column="2" checked>
                              <label>
                                แท็ก
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input type="checkbox" class="checkBB" name="_fname"
                                     id="fname" data-column="3" checked>
                              <label>
                                ชื่อ
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input type="checkbox" class="checkBB" name="_product"
                                     id="product" data-column="4" checked>
                              <label>
                                ผลิตภัณฑ์
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input type="checkbox" class="checkBB" name="_other"
                                     id="other" data-column="5">
                              <label>
                                ผลิตภัณฑ์อื่น
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_company"
                                     id="company" data-column="6" checked>
                              <label>
                                บริษัท
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_tel"
                                     id="tel" data-column="7" checked>
                              <label>
                                เบอร์
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_email"
                                     id="email" data-column="8" checked>
                              <label>
                                อีเมล
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_LIFF"
                                     id="LIFF" data-column="9" checked>
                              <label>
                                อีเมล(ไลน์)
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_message"
                                     id="LIFF" data-column="10">
                              <label>
                                ข้อความ
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_profile"
                                     id="profile" data-column="11">
                              <label>
                                ชื่อโปรไฟล์
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_date"
                                     id="date" data-column="12">
                              <label>
                                วัน/เวลา
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_channel"
                                     id="channel" data-column="13">
                              <label>
                                ช่องทาง
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_username"
                                     id="username" data-column="14">
                              <label>
                                นำเข้าโดย
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_insert"
                                     id="insert" data-column="15">
                              <label>
                                วันเวลานำเข้า
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_authoze">
                              <label>
                                ทุนจดทะเบียน
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_tax">
                              <label>
                                เลขที่เสียภาษี
                              </label>
                            </div>
                            <div class="dropdown-item">
                              <input class="checkBB" type="checkbox" name="_position">
                              <label>
                                ตำแหน่ง
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" name="button_event" value="button_edit"
                              class="btn btn-sm">
                        <i class="fa fa-edit"></i>
                        แก้ไข
                      </button>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="table-responsive">
              <table class="table-hover stripe" style="width:100%" id="informationTable">
                <thead>
                <tr>
                  <th>
                    <input type="checkbox" name="select" id="select-all-information">
                  </th>
                  <th data-visible="false">Index</th>
                  <th class="_tag">แท็ก</th>
                  <th class="_fname">ชื่อ</th>
                  <th class="_product">ผลิตภัณฑ์</th>
                  <th class="_other">ผลิตภัณฑ์อื่น</th>
                  <th class="_company">บริษัท</th>
                  <th class="_tel">เบอร์</th>
                  <th class="_email">อีเมล</th>
                  <th class="_LIFF">อีเมล(ไลน์)</th>
                  <th class="_message">ข้อความ</th>
                  <th class="_profile">ชื่อโปรไฟล์</th>
                  <th class="_date">วัน/เวลา</th>
                  <th class="_channel">ช่องทาง</th>
                  <th class="_username">นำเข้าโดย</th>
                  <th class="_insert">วันเวลานำเข้า</th>
                  <th class="_authoze">ทุนจดทะเบียน</th>
                  <th class="_tax">เลขผู้เสียภาษี</th>
                  <th class="_position">ตำแหน่ง</th>
                </tr>
                </thead>
                <tbody>
                {% for info in data.information[::-1] %}
                  <tr>
                    <td>
                      <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input position-static"
                               name="key_information"
                               aria-label="..."
                               id="{{ info.key }}"
                               value="{{ info.key }}"
                            {% if info.key in data.information.key %}
                               checked {% endif %}>
                      </div>
                    </td>
                    <td>{{ info.index }}</td>
                    <td class="_tag">
                      {% set notvalue = '' %}
                      {% if '' not in info.Tag %}
                        <button type="button" class="btn btn-success btn-xs"
                                data-toggle="collapse"
                                data-target="#liff">
                          <i class="fas fa-tags"></i>
                        </button>
                      {% endif %}
                      <div id="liff" class="collapse fade">
                        {% for tag in info.Tag %}
                          {% if tag %}
                            <a href="tagInformation/{{ tag }}">
                            <span id="{{ tag }}"
                                  class="badge badge-secondary Filter_kane CC010">
                                    <i class="fas fa-tags"></i>
                              {% if tag == 'CB010' %}
                                รับเหมาสาธารณูปโภค
                              {% elif tag == 'CC010' %}
                                รับเหมาก่อสร้างระบบวางท่อ
                              {% elif tag == 'CG010' %}
                                งานระบบประกอบอาคาร
                              {% elif tag == 'CI010' %}
                                รับเหมาก่อสร้างพลังงานทดแทน
                              {% elif tag == 'CJ010' %}
                                รับเหมาก่อสร้างงานอาคาร
                              {% elif tag == 'CM010' %}
                                ออกแบบ ตกแต่ง
                              {% elif tag == 'CF010' %}
                                รับเหมาขุดเจาะ
                              {% elif tag == 'CP010' %}
                                งานอลูมิเนียม
                              {% elif tag == 'CE010' %}
                                ผลิตและติดตั้ง
                              {% elif tag == 'CH010' %}
                                งานบริการ
                              {% elif tag == 'CK010' %}
                                รับสร้างบ้าน
                              {% elif tag == 'CN010' %}
                                ไม่แน่ใจ
                              {% elif tag == 'CD010' %}
                                ขาย
                              {% elif tag == 'RC010' %}
                                อสังหาฯ
                              {% elif tag == 'RA010' %}
                                แนวราบ
                              {% elif tag == 'RB010' %}
                                แนวสูง
                              {% endif %}
                            </span>
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </td>
                    <td class="_fname">{{ info.Name }}</td>
                    <td class="_product">{{ info.Product }}</td>
                    <td class="_other">{{ info.Other }}</td>
                    <td class="_company">{{ info.Company }}</td>
                    <td class="_tel">{{ info.Tel }}</td>
                    <td class="_email">{{ info.Email }}</td>
                    <td class="_LIFF">{{ info.EmailLiff }}</td>
                    <td class="_message">{% set notvalue = 'None' %}
                      {% if notvalue not in info.Message %}
                        <button type="button" class="btn btn-primary btn-xs"
                                data-toggle="collapse"
                                data-target="#message">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </button>
                      {% endif %}
                      <div id="message" class="collapse">
                        {% if notvalue not in info.Message %}
                          {{ info.Message }}
                        {% endif %}
                      </div>
                    </td>
                    <td class="_profile">{{ info.Profile }}</td>
                    <td class="_date">{{ info.Date }} {{ info.Time }}</td>
                    <td class="_channel">{{ info.Channel }}</td>
                    <td class="_username">{{ info.Username }}</td>
                    <td class="_insert">{{ info.DateInsert }} {{ info.TimeInsert }}</td>
                    <td class="_authoze">{{ info.Authorized }}</td>
                    <td class="_tax">{{ info.Tax }}</td>
                    <td class="_position">{{ info.Position }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <div class="footer">
              <div class="row" style="margin-left: 15px">
                <div style="margin-right: 12px">
                  <button type="submit" name="button_event" value="button_excel"
                          class="btn btn-warning btn-sm">
                    <i class="fa fa-check-square-o"></i>
                    Excel Index
                  </button>
                </div>
                <div style="margin-right: 12px">
                  <button type="submit" name="button_event" value="button_delete"
                          class="btn btn-danger btn-sm">
                    <i class="fa fa-check-square-o"></i>
                    Delete Index
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
      var app = new Vue({
          el: "#app",
          data() {
              return {
                  formElements: {
                      authorized: {
                          type: 'text',
                          value: '',
                          validator: {
                              required: true,
                              minLength: 1
                          },
                          touched: false,
                          error: {status: true, message: ''}
                      },
                      tax: {
                          type: 'text',
                          value: '',
                          validator: {
                              required: true,
                              minLength: 1
                          },
                          touched: false,
                          error: {status: true, message: ''}
                      },
                      position: {
                          type: 'text',
                          value: '',
                          validator: {
                              required: true,
                              minLength: 1
                          },
                          touched: false,
                          error: {status: true, message: ''}
                      }
                  },

                  formValid: false,
                  showHide: true,
                  showHideChart: true,
                  showHideFeed: true,
                  checkedBox: true
              };
          },
          delimiters: ["[[", "]]"],
          methods: {
              buttonOnFeed() {
                  this.showHideFeed = !this.showHideFeed;
              },
              nameFeed() {
                  return this.showHideFeed ? 'Hide' : 'Show'
              },
              buttonOnChart() {
                  this.showHideChart = !this.showHideChart;
              },
              nameChart() {
                  return this.showHideChart ? 'Hide' : 'Show'
              },
              buttonOnTable() {
                  let show = this.showHide = !this.showHide;
                  console.log(show);
              },
              nameTable() {
                  return this.showHide ? 'Hide' : 'Show'
              },
              onChangeForm(event) {
                  const name = event.target.name;
                  const value = event.target.value;
                  let updatedForm = {...this.formElements};
                  updatedForm[name].value = value;
                  updatedForm[name].touched = true;
                  const validatorObject = this.checkValidator(
                      value,
                      updatedForm[name].validator
                  );
                  updatedForm[name].error = {
                      status: validatorObject.status,
                      message: validatorObject.message
                  };
                  let formStatus = true;
                  for (let name in updatedForm) {
                      if (updatedForm[name].validator.required === true) {
                          formStatus = !updatedForm[name].error.status && formStatus;
                      }
                  }
                  this.formElements = updatedForm;
                  this.formValid = formStatus;
              },
              checkValidator(value, rule) {
                  let valid = true;
                  let message = '';
                  if (value.trim().length === 0 && rule.required) {
                      valid = false;
                      message = 'กรุณากรอกข้อมูล'
                  }
                  if (value.length < rule.minLength && valid) {
                      valid = false;
                      message = `น้อยกว่า ${rule.minLength} ตัวอักษร`;
                  }
                  return {status: !valid, message: message}
              },
              getInputClass(name) {
                  const elementErrorStatus = this.formElements[name].error.status;
                  if (!this.formElements[name].touched) {
                      return ["form-control form-control-user"];
                  } else {
                      return elementErrorStatus && this.formElements[name].touched ? ['form-control form-control-user', 'is-invalid'] : ['form-control form-control-user', 'is-valid'];
                  }
              },
              getErrorMessage(name) {
                  return this.formElements[name].error.message;
              },
              onFormSubmit() {
                  const formData = {};
                  for (let name in this.formElements) {
                      formData[name] = this.formElements[name].value;
                  }
                  console.log(formData)
              }
          }
      });


      $(document).ready(function () {
          $('#informationTable').DataTable({
              "order": [[0, false]],
              "columnDefs": [{
                  "orderable": false,
                  "targets": 0
              }]
          });
      });
      $(".checkBB:not(:checked)").each(function () {
          var column = "table ." + $(this).attr("name");
          $(column).hide();
      });

      $(".checkBB:checkbox").click(function () {
          var column = "table ." + $(this).attr("name");
          $(column).toggle();
      });
      document.getElementById('select-all-information').onclick = function () {
          var checkboxes = document.getElementsByName('key_information');
          for (var checkbox of checkboxes) {
              checkbox.checked = this.checked;
          }
      }

  </script>


  <script>
      Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = '#292b2c';
      let ctx = document.getElementById("myBarChart");
      let construction = '{{ data.CON }}'
      let real = '{{ data.REAL }}'
      let plan = '{{ data.PLAN }}'
      let other = '{{ data.OTHER }}'
      let myLineChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ["Construction", "Real Estates", "Project Planning", "Other"],
              datasets: [{
                  label: "Revenue",
                  backgroundColor: "rgba(2,117,216,1)",
                  borderColor: "rgba(2,117,216,1)",
                  data: [construction, real, plan, other],
              }],
          },
          options: {
              scales: {
                  xAxes: [{
                      time: {
                          unit: 'month'
                      },
                      gridLines: {
                          display: false
                      },
                      ticks: {
                          maxTicksLimit: 6
                      }
                  }],
              },
              legend: {
                  display: false
              }
          }
      });

      // Configure Pusher instance
      // var pusher = new Pusher('a0e97466cb155b48d6b7', {
      //     cluster: 'us2',
      // });

      // Subscribe to poll trigger
      // var orderChannel = pusher.subscribe('order');
      //
      // // Listen to 'order placed' event
      // var order = document.getElementById('order-count')
      // orderChannel.bind('place', function(data) {
      //   myLineChart.data.datasets.forEach((dataset) => {
      //       dataset.data.fill(parseInt(data.units),-1);
      //   });
      //   myLineChart.update();
      //   order.innerText = parseInt(order.innerText)+1
      // });
  </script>

{% endblock %}