{% extends "customers_new/layout.html" %}
{% block content %}

  <div id="app" style="margin-top: 120px">
    <div class="container-fluid" style="margin-top: 30px">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
          </div>
          <div class="card-body">
            <div v-if="!spinTable">
              <i id="spinner" class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
            <div class="col">
              <div class="table-responsive">
                <table class="table table-hover stripe" style="width:100%" id="informationTable">
                  <thead>
                  <tr>
                    <th>
                      <input type="checkbox" name="select" id="select-all-information">
                    </th>
                    <th>name</th>
                    <th>product</th>
                    <th>company</th>
                    <th>email</th>
                    <th>tel</th>
                    <th>action</th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="editData"
           aria-hidden="true">
        <div class="modal-dialog">
          <form @submit="onSubmitUpdate" @reset="onResetUpdate">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input class="form-control"
                         v-model="editTransaction.name"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="product" class="col-form-label">Product:</label>
                  <input class="form-control"
                         v-model="editTransaction.product"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="company" class="col-form-label">Company:</label>
                  <input class="form-control"
                         v-model="editTransaction.company"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input class="form-control"
                         v-model="editTransaction.email"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="liff" class="col-form-label">LIFF:</label>
                  <input class="form-control"
                         v-model="editTransaction.liff"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="liff" class="col-form-label">Tel:</label>
                  <input class="form-control"
                         v-model="editTransaction.tel"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea class="form-control" v-model="editTransaction.message"></textarea>
                </div>

                <div class="form-group">
                  <label for="message" class="col-form-label">Tag:</label>
                  <textarea class="form-control" v-model="editTransaction.tag"></textarea>
                </div>

                <div class="form-check form-check-inline" v-for="tag in tags">
                  <label>
                    <input v-model="editTransaction.tag"
                           v-bind:value="tag"
                           class="form-check-input"
                           type="checkbox"
                    >
                  </label>
                  <label class="form-check-label" for="tag"></label>
                  [[tag]]
                </div>


              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>



  <script>
      const app = new Vue({
          el: '#app',
          data() {
              return {
                  transaction: null,
                  tags: null,
                  spinTable: true,
                  dataTable: null,
                  checkedBox: true,
                  updateModal: true,
                  addTransaction: {
                      name: '',
                      tag: [],
                      product: '',
                      email: '',
                      liff: '',
                      company: '',
                      tel: '',
                      profile: '',
                      username: '',
                      time: '',
                      date: '',
                      position: '',
                      tax: '',
                      authorized: '',
                      date_insert: '',
                      time_insert: '',
                      channel: '',
                      message: '',
                  },
                  showLog: '',
                  editTransaction: {
                      id: '',
                      name: '',
                      tag: [],
                      product: '',
                      email: '',
                      liff: '',
                      company: '',
                      tel: '',
                      profile: '',
                      username: '',
                      time: '',
                      date: '',
                      position: '',
                      tax: '',
                      authorized: '',
                      date_insert: '',
                      time_insert: '',
                      channel: '',
                      message: '',
                  },
              }
          },
          delimiters: ["[[", "]]"],
          watch: {
              transaction: 'showData'
          },
          methods: {
              showData() { // condition
                  if (this.transaction) {
                      this.spinTable = true
                  }
              },
              LoadDataInfo() { //
                  this.spinTable = false;
                  this.createInformation()
              },
              createInformation() {
                  this.spinTable = false
                  const path = 'http://127.0.0.1:5005/return_information';
                  axios.get(path)
                      .then((res) => {
                          let response = this.transaction = res.data.transaction;
                          console.log('transaction: ', response)
                      })
                      .catch((error) => {
                          console.error(error);
                      });
              },
              createTag() {
                  const path = 'http://127.0.0.1:5005/return_information';
                  axios.get(path)
                      .then((res) => {
                          let response = this.tags = res.data.tags;
                          console.log('tag: ', response)
                      })
                      .catch((error) => {
                          console.error(error);
                      });
              },
              initForm() {
                  this.addTransaction.name = '';
                  this.addTransaction.tag = [];
                  this.addTransaction.company = '';
                  this.addTransaction.channel = '';
                  this.addTransaction.message = '';
                  this.addTransaction.product = '';
                  this.addTransaction.tel = '';
                  this.addTransaction.email = '';
                  this.addTransaction.liff = '';
                  this.addTransaction.date = '';
                  this.addTransaction.time = '';
                  this.addTransaction.username = '';
                  this.addTransaction.position = '';
                  this.addTransaction.tax = '';
                  this.addTransaction.authorized = '';
                  this.addTransaction.time_inserte = '';
                  this.addTransaction.date_insert = '';
                  this.editTransaction.id = '';
                  this.editTransaction.name = '';
                  this.editTransaction.tag = [];
                  this.editTransaction.company = '';
                  this.editTransaction.channel = '';
                  this.editTransaction.message = '';
                  this.editTransaction.product = '';
                  this.editTransaction.tel = '';
                  this.editTransaction.email = '';
                  this.editTransaction.liff = '';
                  this.editTransaction.date = '';
                  this.editTransaction.time = '';
                  this.editTransaction.username = '';
                  this.editTransaction.position = '';
                  this.editTransaction.tax = '';
                  this.editTransaction.authorized = '';
                  this.editTransaction.time_inserte = '';
                  this.editTransaction.date_insert = '';
              },
              payloadInit(key) {
                  return {
                      Name: key.name,
                      Tag: key.tag,
                      Company: key.company,
                      Channel: key.channel,
                      Message: key.message,
                      Product: key.product,
                      Tel: key.tel,
                      Email: key.email,
                      EmailLiff: key.liff,
                      Date: key.date,
                      Time: key.time,
                      Username: key.username,
                      Position: key.position,
                      Tax: key.tax,
                      Authorized: key.authorized,
                      Time_insert: key.time_insert,
                      Date_insert: key.date_insert
                  }
              },
              editDataIndex(user) {
                  console.log(user);
                  this.editTransaction = user;
              },
              onSubmitUpdate(evt) {
                  evt.preventDefault();
                  this.$refs.modal.hidden = true;
                  const payload = this.payloadInit(this.editTransaction)
                  this.updateData(payload, this.editTransaction.id);
              },
              updateData(payload, id) {
                  const path = `http://127.0.0.1:5005/return_information/${id}`;
                  axios.put(path, payload)
                      .then(() => {
                          this.createInformation();
                          this.showLog = 'Data updated!';
                          this.showMessage = true;
                      })
                      .catch((error) => {
                          // eslint-disable-next-line
                          console.error(error);
                          this.createInformation();
                      });
              },
              onResetUpdate(evt) {
                  evt.preventDefault();
                  this.initForm();
                  this.createInformation();
              },
              logTest() {
                  console.log('ok')
              }
          },
          created() {
              this.createInformation();
              this.createTag();
          },
          hideModalUpdate() {
              this.$refs.updateModal.hidden = !this.updateModal
          },
          mounted() {
              let table = this.dataTable = $('#informationTable').DataTable({
                  "order": [[0, false]],
                  "columnDefs": [{
                      "orderable": false,
                      "targets": 0
                  }]
              });
              const path = 'http://127.0.0.1:5005/return_information';
              axios.get(path).then((res) => {
                  let response = this.transaction = res.data.transaction;
                  response.forEach(user => {
                      this.dataTable.row.add([
                          `<div class="form-check">
                              <input type="checkbox"
                               name="key_information"
                               class="form-check-input position-static"
                               @click="logTest"
                               v-bind:value="${user.id}"
                              </div>`,
                          user.name,
                          user.product,
                          user.company,
                          user.email,
                          user.tel,
                          ` <div class="btn-group" role="group">
                               <button
                                  type="button"
                                  class="btn btn-warning btn-sm"
                                  data-toggle="modal"
                                  data-target="#editData"

                                  >
                                Update
                              </button>
                              <button
                                  type="button"
                                  class="btn btn-danger btn-sm"
                                  data-toggle="modal"
                                  data-target="#removeData"
                                  >
                                Delete
                              </button>
                                </div> `
                      ]).draw(false)
                  });
                  $('#informationTable tbody').on('click', 'button', function () {
                      var data = table.row($(this).parents('tr')).data();
                      console.log(data)
                  });
                  document.getElementById('select-all-information').onclick = function () {
                      var checkboxes = document.getElementsByName('key_information');
                      for (var checkbox of checkboxes) {
                          checkbox.checked = this.checked;
                      }
                  }
              })
                  .catch((error) => {
                      console.error(error);
                  });
          },
      })


  </script>

  <style>
      #spinner {
          position: fixed;
          top: 50%;
          left: 50%;
          color: darkblue;
      }
  </style>

{% endblock %}

