{% extends "customers_new/layout.html" %}
{% block content %}

  <div id="app" style="margin-top: 120px">
    <div class="container-fluid" style="margin-top: 30px">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
          </div>
          <div class="card-body">
            <div v-if="!spinTable">
              <i id="spinner" class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
            <div class="col" v-else>
              <div style="text-align: end">
                <label>
                  <span>Selected Page</span>
                  <select v-model="pageSize" class="custom-select-sm">
                    <option value="10" selected>10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
              <div class="table-responsive">
                <table class="table table-hover stripe" style="width:100%" id="informationTable">
                  <thead>
                  <tr class="bg-success text-white">
                    <th>
                      <input type="checkbox" name="select"
                             id="select-all-information"
                             v-model="selectAll"
                      >
                    </th>
                    <th @click="sortCol('name')">Name <i
                        v-bind:class="{'fa fa-user-o': sortIcon, 'fa fa-user': !sortIcon}"
                        aria-hidden="true"></i></th>
                    <th @click="sortCol('product')">Product <i
                        v-bind:class="{'fa fa-user-o': sortIcon, 'fa fa-user': !sortIcon}"
                        aria-hidden="true"></i></th>
                    <th @click="sortCol('company')">Company <i
                        v-bind:class="{'fa fa-user-o': sortIcon, 'fa fa-user': !sortIcon}"
                        aria-hidden="true"></i></th>
                    <th @click="sortCol('email')">Email <i
                        v-bind:class="{'fa fa-user-o': sortIcon, 'fa fa-user': !sortIcon}"
                        aria-hidden="true"></i></th>
                    <th @click="sortCol('tel')">Tel <i
                        v-bind:class="{'fa fa-user-o': sortIcon, 'fa fa-user': !sortIcon}"
                        aria-hidden="true"></i></th>
                    <th>action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="user in sortedUsers">
                    <td>
                      <div class="form-check">
                        <input type="checkbox"
                               v-model="selected"
                               name="key_information"
                               class="form-check-input position-static"
                               v-bind:value="user.id">
                      </div>
                    </td>
                    <td>[[user.name]]</td>
                    <td>[[user.product]]</td>
                    <td>[[user.company]]</td>
                    <td>[[user.email]]</td>
                    <td>[[user.tel]]</td>
                    <td>
                      <div class="btn-group" role="group">
                        <button
                            type="button"
                            class="btn btn-warning btn-sm"
                            data-toggle="modal"
                            data-target="#editData"
                            @click="editDataIndex(user)"
                            v-on:click="hideModalUpdate"
                        >
                          Update
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            data-toggle="modal"
                            data-target="#removeData"
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" @click="prevPage" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link">[[currentPage]]</a></li>
                <li class="page-item">
                  <a class="page-link" @click="nextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>


      <div class="modal fade" id="editData"
           aria-hidden="true">
        <div class="modal-dialog">
          <form @submit="onSubmitUpdate" ref="updateModal" @reset="onResetUpdate">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input class="form-control"
                         v-model="editTransaction.name"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="product" class="col-form-label">Product:</label>
                  <input class="form-control"
                         v-model="editTransaction.product"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="company" class="col-form-label">Company:</label>
                  <input class="form-control"
                         v-model="editTransaction.company"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input class="form-control"
                         v-model="editTransaction.email"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="liff" class="col-form-label">LIFF:</label>
                  <input class="form-control"
                         v-model="editTransaction.liff"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="liff" class="col-form-label">Tel:</label>
                  <input class="form-control"
                         v-model="editTransaction.tel"
                         type="text">
                </div>

                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea class="form-control" v-model="editTransaction.message"></textarea>
                </div>

                <div class="form-group">
                  <label for="message" class="col-form-label">Tag:</label>
                  <textarea class="form-control" v-model="editTransaction.tag"></textarea>
                </div>

                <div class="form-check form-check-inline" v-for="tag in tags">
                  <label>
                    <input v-model="editTransaction.tag"
                           v-bind:value="tag"
                           class="form-check-input"
                           type="checkbox"
                    >
                  </label>
                  <label class="form-check-label" for="tag"></label>
                  [[tag]]
                </div>


              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue-tables-2@2.1.61/compiled/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-tables-2@2.1.61/dist/vue-tables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-tables-2@2.1.61/dist/vue-tables-2.min.js"></script>
  <script>
      Vue.use(VueTables.ClientTable);

      var app = new Vue({
          el: '#app',
          data() {
              return {
                  transaction: [],
                  tags: null,
                  spinTable: true,
                  dataTable: null,
                  checkedBox: true,
                  updateModal: true,
                  sortIcon: true,
                  pageSize: 10,
                  currentPage: 1,
                  currentSort: 'name',
                  currentSortDir: 'asc',
                  selected: [],
                  selectOnOne: [],
                  showLog: '',
                  addTransaction: {
                      name: '',
                      tag: [],
                      product: '',
                      email: '',
                      liff: '',
                      company: '',
                      tel: '',
                      profile: '',
                      username: '',
                      time: '',
                      date: '',
                      position: '',
                      tax: '',
                      authorized: '',
                      date_insert: '',
                      time_insert: '',
                      channel: '',
                      message: '',
                  },
                  editTransaction: {
                      id: '',
                      name: '',
                      tag: [],
                      product: '',
                      email: '',
                      liff: '',
                      company: '',
                      tel: '',
                      profile: '',
                      username: '',
                      time: '',
                      date: '',
                      position: '',
                      tax: '',
                      authorized: '',
                      date_insert: '',
                      time_insert: '',
                      channel: '',
                      message: '',
                  },
              }
          },
          delimiters: ["[[", "]]"],
          watch: {
              transaction: 'showData'
          },
          methods: {
              sortCol(col) {
                  this.sortIcon = !this.sortIcon;
                  if (col === this.currentSort) {
                      this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                  }
                  this.currentSort = col
                  console.log(this.sortIcon)
              },
              nextPage: function () {
                  if ((this.currentPage * this.pageSize) < this.transaction.length) this.currentPage++;
              },
              prevPage: function () {
                  if (this.currentPage > 1) this.currentPage--;
              },
              showData() { // condition
                  if (this.transaction) {
                      this.spinTable = true
                  }
              },
              LoadDataInfo() { //
                  this.spinTable = false;
                  this.sortedUsers()
              },
              createInformation() {
                  this.spinTable = false
                  const path = 'http://127.0.0.1:5005/return_information';
                  axios.get(path)
                      .then((res) => {
                          let response = this.transaction = res.data.transaction;
                          console.log('transaction: ', response)
                      })
                      .catch((error) => {
                          console.error(error);
                      });
              },
              createTag() {
                  const path = 'http://127.0.0.1:5005/return_information';
                  axios.get(path)
                      .then((res) => {
                          let response = this.tags = res.data.tags;
                          console.log('tag: ', response)
                      })
                      .catch((error) => {
                          console.error(error);
                      });
              },
              initForm() {
                  this.addTransaction.name = '';
                  this.addTransaction.tag = [];
                  this.addTransaction.company = '';
                  this.addTransaction.channel = '';
                  this.addTransaction.message = '';
                  this.addTransaction.product = '';
                  this.addTransaction.tel = '';
                  this.addTransaction.email = '';
                  this.addTransaction.liff = '';
                  this.addTransaction.date = '';
                  this.addTransaction.time = '';
                  this.addTransaction.username = '';
                  this.addTransaction.position = '';
                  this.addTransaction.tax = '';
                  this.addTransaction.authorized = '';
                  this.addTransaction.time_inserte = '';
                  this.addTransaction.date_insert = '';
                  this.editTransaction.id = '';
                  this.editTransaction.name = '';
                  this.editTransaction.tag = [];
                  this.editTransaction.company = '';
                  this.editTransaction.channel = '';
                  this.editTransaction.message = '';
                  this.editTransaction.product = '';
                  this.editTransaction.tel = '';
                  this.editTransaction.email = '';
                  this.editTransaction.liff = '';
                  this.editTransaction.date = '';
                  this.editTransaction.time = '';
                  this.editTransaction.username = '';
                  this.editTransaction.position = '';
                  this.editTransaction.tax = '';
                  this.editTransaction.authorized = '';
                  this.editTransaction.time_inserte = '';
                  this.editTransaction.date_insert = '';
              },
              payloadInit(key) {
                  return {
                      Name: key.name,
                      Tag: key.tag,
                      Company: key.company,
                      Channel: key.channel,
                      Message: key.message,
                      Product: key.product,
                      Tel: key.tel,
                      Email: key.email,
                      EmailLiff: key.liff,
                      Date: key.date,
                      Time: key.time,
                      Username: key.username,
                      Position: key.position,
                      Tax: key.tax,
                      Authorized: key.authorized,
                      Time_insert: key.time_insert,
                      Date_insert: key.date_insert
                  }
              },
              editDataIndex(user) {
                  console.log(user);
                  this.editTransaction = user;
              },
              onSubmitUpdate(evt) {
                  evt.preventDefault();
                  this.$refs.updateModal.hidden = true;
                  const payload = this.payloadInit(this.editTransaction)
                  this.updateData(payload, this.editTransaction.id);
              },
              updateData(payload, id) {
                  const path = `http://127.0.0.1:5005/return_information/${id}`;
                  axios.put(path, payload)
                      .then(() => {
                          this.createInformation();
                          this.showLog = 'Data updated!';
                          this.showMessage = true;
                      })
                      .catch((error) => {
                          // eslint-disable-next-line
                          console.error(error);
                          this.createInformation();
                      });
              },
              onResetUpdate(evt) {
                  evt.preventDefault();
                  this.initForm();
                  this.createInformation();
              },
              removeData(id) {
                  const path = `http://127.0.0.1:5005/return_information/${id}`;
                  axios.delete(path)
                      .then(() => {
                          this.createInformation();
                          this.showLog = 'Data Delete!';
                          this.showMessage = true;
                      })
                      .catch((error) => {
                          // eslint-disable-next-line
                          console.error(error);
                          this.createInformation();
                      });
              },
              onDeleteData(user) {
                  let txt = this.removeData(user.id);
                  console.log(txt)
              },
              hideModalUpdate() {
                  this.$refs.updateModal.hidden = !this.updateModal
                  console.log(this.updateModal)
              },
              dataComplete() { // commit
                  this.$emit('dataOK', true)
              },
          },
          computed: {
              sortedUsers: function () {
                  return this.transaction.sort((a, b) => {
                      let modifier = 1;
                      if (this.currentSortDir === 'desc') modifier = -1;
                      if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                      if (a[this.currentSort] > b[this.currentSort]) return modifier;
                      return 0;
                  }).filter((row, index) => {
                      let start = (this.currentPage - 1) * this.pageSize;
                      let end = this.currentPage * this.pageSize;
                      if (index >= start && index < end) return true;
                  });
              },
              selectAll: {
                  get: function () {
                      return this.transaction ? this.selected.length === this.transaction.length : false;
                  },
                  set: function (value) {
                      var selected = [];
                      if (value) {
                          this.transaction.forEach(function (user) {
                              selected.push(user.id);
                          });
                      }
                      this.selected = selected;
                  }
              }
          },
          created() {
              this.createInformation();
              this.createTag();
          },
          mounted() {

          },
      })


  </script>

  <style>
      #spinner {
          position: fixed;
          top: 50%;
          left: 50%;
          color: darkblue;
      }
  </style>

{% endblock %}

