{% extends "customers_new/loginLayout.html" %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>

        $(window).on('load', function () {
            liff.init({liffId: "1655208213-djYvPr1k"}, () => {
                if (liff.isLoggedIn()) {
                    runApp()
                } else {
                    liff.login();
                }
            }, err => console.error(err.code, error.message));
            // liff.init(function (data) {
        });
    </script>

    <script src="https://static.line-scdn.net/liff/edge/versions/2.3.0/sdk.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function runApp() {
            $('#btn').on('click', function () {
                liff.getProfile().then(profile => {
                    $.ajax({
                        type: 'POST',
                        url: '/LINELIFF/UserId',
                        data: {
                            'user': $('#user').val(),
                            'subject': $('#subject').val(),
                            'userId': profile.userId,
                            'token': liff.getDecodedIDToken().email + ' ',
                            'displayName': profile.displayName,
                            'picture': profile.pictureUrl
                        },
                        success: function (res, status) {
                            liff.getProfile().then(function (profile) {
                                console.log("res eang: ", res)
                                console.log("status: ", status)
                                liff.closeWindow();
                            })
                        },

                    });
                });

            });
        }


    </script>

    <br>

    <div class="container">
        <center><img src="/static/images/mango-profile.jpg" class="rounded-circle" alt="Cinque Terre" height="140">
        </center>
        <form method="POST" id="perform" onsubmit="return validation()">
            <div class="form-group">
                <label for="user">รหัสลูกค้า :</label>
                <input type="text" class="form-control" id="user" placeholder="User ID"
                       name="user" value="" required>
            </div>
            <div class="form-group">
                <label for="subject">เรื่อง :</label>
                <input type="text" class="form-control" id="subject" placeholder="Subject"
                       name="subject" value="" required>
            </div>
            <button id="btn" type="button" class="btn btn-success btn-block">Submit</button>
        </form>
    </div>
    <br>
    <br>
{% endblock %}

