{% extends "sbadmin/loginLayout.html" %}

{% block content %}


<div id="login">
    <div class="jumbotron">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Reset your password.</h1>
                                        </div>
                                        <div class="text-center">
                                            <p class="small">To reset your password, enter your email below and submit. An email will be sent to you with instructions about how to complete the process.</p>
                                        </div>
                                        <form class="user" method="POST" action="">
                                            <input class="form-control form-control-user" type="email"
                                                   placeholder="Email" name="email"
                                                   value="" required>
                                            <br>

                                            <button type="submit" class="btn btn-success btn-block btn-user">Reset password</button>
                                            <br>
                                            <div class="text-center">
                                                <p class="text-success">{{error}}</p>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
</div>

{% endblock %}


