{% extends "sbadmin/layout2.html" %} {% block content %}

<!-- Page Heading -->
<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="col-xl-8 col-md-10">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <i class="far fa-comment-dots fa-2x" style="margin-right: 5px"></i>
          </div>
          <div class="col mr-2">
            <div class="h2 mb-0 font-weight-bold text-gray-800">
              <span>[[message]]</span>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn bg-success text-white" data-toggle="modal" data-target="#exampleModal">
              Create Intent
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Intent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" style="margin-bottom: 0.5em" placeholder="Intent Name"
            v-model="intname" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-success" v-on:click="createintents()">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-xl-8 col-md-10 py-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg bg-white border-1 small" placeholder="Search intents"
          aria-label="Search" aria-describedby="basic-addon2" v-model="textSearch" v-on:change="filteredList" />
        <i class="fas fa-search fa-lg" style="
            position: absolute;
            right: 15px;
            top: 17px;
            color: rgb(192, 192, 192);
          "></i>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <div v-for="(item,index) in filteredList()">
        <div class="row" style="padding-bottom: 0.5em">
          <div class="col-xl-8 col-md-10">
            <div class="card border-left-success shadow selectIntent">
              <li class="list-group-item" :click="editIntent(this)" style="height: 60px">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0">
                      <a ref="item.id" :href="'intent/'+item.id"
                        class="font-weight-bold text-gray-800">
                        <p v-if="item.key == 0" style="color: red;"><span>[[item.intent]]</span></p>
                        <p v-else><span>[[item.intent]]</span></p>
                      </a>
                    </div>
                  </div>
                  <div class="col-auto selectIcon">
                    <a v-if="item.key != 0">
                      <i class="fas fa-trash-alt fa-2x text-gray-500" v-on:click="deleteintent(item.id,item.key)"></i>
                    </a>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<script>
  var dbref = firebase.database().ref("transaction_mango/datasets");

  var app = new Vue({
    el: "#app",
    data: {
      message: "Intents",
      dataset: [],
      textSearch: "",
      editintent: "",
      intname: "",
      inttype: "",
      last_id: 0,
    },
    delimiters: ["[[", "]]"],
    mounted() {
      // app.last_id = 0;
      var dbqa = dbref.on("value", function (snapshot) {
        var datas = snapshot.val();
        var keys = Object.keys(datas);
        var getdata = [];
        // app.last_id = 0;
        for (let i = 0; i < keys.length; i++) {
          var dd = {};
          dd.id = datas[keys[i]].id;
          dd.key = keys[i];
          dd.intent = datas[keys[i]].intent;
          getdata.push(dd);

          if (app.last_id <= parseInt(datas[keys[i]].id)) {
            app.last_id = parseInt(datas[keys[i]].id);
            // console.log(parseInt(datas[keys[i]].id));
          }
        }
        // console.log(app.last_id);
        app.dataset = getdata;
        // console.log(this.getdata);
      });
    },

    methods: {
      editIntent(e) {
        e.key;
      },
      filteredList() {
        if (this.textSearch == "") return this.dataset;
        return this.dataset.filter((intent) => {
          return intent.intent
            .toLowerCase()
            .includes(this.textSearch.toLowerCase());
        });
      },
      showedit(id, index) {
        app.editintent = id;
      },
      hideedit(intent, key) {
        var upddata = firebase
          .database()
          .ref("transaction_mango/datasets/" + key);
        data = {
          intent: intent,
        };
        // console.log(data);
        upddata.update(data);
        console.log("Success");

        app.editintent = "";
      },
      deleteintent: function (id, key) {
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        }).then((result) => {
          if (result.value) {
            var dltdata = firebase
              .database()
              .ref("transaction_mango/datasets/" + key);
            dltdata.remove();
            console.log(key);
            Swal.fire("Deleted!", "Your file has been deleted.", "success");
          }
        });
      },
      createintents: function () {
        console.log(this.last_id);
        if (this.intname == "") {
          app.intname = "Intent name";
        }
        data = {
          id: this.last_id + 1 + "",
          intent: app.intname,
          questions: [""],
          answers: [""],
        };
        var upddata = firebase
          .database()
          .ref("transaction_mango/datasets/" + (this.last_id + 1))
          .set(data);
        app.intname = "";
        app.inttype = "";
        console.log(this.last_id);
        // $('#exampleModal').modal("hide")
        window.location.assign("intent/" + this.last_id);
      },
    },
    computed: {},
  });

  // setInterval(function(){console.log(app.dataset);},3000);

  // firebase.analytics();
</script>
<style>
  .selectIntent:hover .selectIcon {
    display: inline;
  }

  .selectIntent:hover {}

  .selectIntent .selectIcon {
    display: none;
  }
</style>
{% endblock %}
