{% extends "customers_new/layout.html" %}
{% block content %}
    <br>
    <br>
<div id="app">
    <v-app id="inspire">
        <br><br>
        <div class="text-center">
            <v-card
                    class="mx-auto"
                    max-width="400"
                    tile
            >
                <v-img
                        height="100%"
                        src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
                >
                    <v-row
                            align="end"
                            class="fill-height"
                    >
                        <v-col
                                align-self="start"
                                class="pa-0"
                                cols="12"
                        >
                            <v-avatar
                                    size="164"
                            >
                                <v-img src="/static/images/chatbot-data.png"></v-img>
                            </v-avatar>
                        </v-col>
                        <v-col class="py-0">
                            <v-list-item
                                    color="rgba(0, 0, 0, .4)"
                                    dark
                            >
                                <v-list-item-content>
                                    <v-list-item-title class="title">
                                        BOT Selenium
                                    </v-list-item-title>
                                    <v-list-item-subtitle>Scraping DBD</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-col>
                    </v-row>
                </v-img>
            </v-card>
        </div>
        <v-container>
            <v-stepper
                    v-model="e13"
                    vertical
            >
                <v-stepper-step
                        step="1"
                        complete
                        color="success"
                >
                    กรุณานำใส่ Token
                </v-stepper-step>

                <v-stepper-content step="1">
                    <v-switch
                            v-model="switch1"
                            label="กำหนดเงื่อนไข"
                    ></v-switch>
                    <v-form
                            v-model="valid"
                            ref="form"
                            lazy-validation
                    >
                        <v-card
                                color="grey lighten-3"
                                class="mb-12"
                                height="260px"
                        >
                            <v-card-text>
                                <v-text-field
                                        clearable
                                        v-model="token"
                                        label="Token"
                                        :rules="validForm"
                                >
                                </v-text-field>

                                <v-text-field
                                        v-model="startPage"
                                        label="Start Page"
                                        clearable
                                        :disabled="!switch1"
                                        type="number"
                                ></v-text-field>

                                <v-text-field
                                        v-model="endPage"
                                        label="End Page"
                                        clearable
                                        :disabled="!switch1"
                                        type="number"
                                ></v-text-field>

                            </v-card-text>

                        </v-card>
                        <v-btn
                                color="success"
                                @click="submit"
                        >
                            ต่อไป
                        </v-btn>
                        <v-snackbar
                                v-model="snackbar1"
                        >
                            I'm ROBOT Scraping
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                        color="pink"
                                        text
                                        v-bind="attrs"
                                        @click="snackbar1 = false"
                                >
                                    Close
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </v-form>
                </v-stepper-content>

                <v-stepper-step
                        step="2"
                        complete
                        color="success"
                >
                    สถานะ บอท(BOT)
                </v-stepper-step>

                <v-stepper-content step="2">
                    <v-card
                            color="grey lighten-3"
                            class="mb-12"
                            height="200px"
                    >
                        <v-card-text>
                            <div v-if="status">
                                <h2>BOT [[status]]</h2>
                            </div>
                            <div v-else-if="stop">
                                <h2>[[stop]]</h2>
                            </div>
                            <div v-else>
                                <h2>Please wait...</h2>
                            </div>
                        </v-card-text>
                    </v-card>
                    <v-btn text
                           color="red"
                           @click="terminateBot"
                    >
                        Cancel
                    </v-btn>
                    <v-snackbar
                            v-model="snackbar2"
                            :timeout="timeout"
                    >
                        BOT is Terminate...

                        <template v-slot:action="{ attrs }">
                            <v-btn
                                    color="blue"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                            >
                                Close
                            </v-btn>
                        </template>
                    </v-snackbar>
                    <v-btn
                            text
                            color="primary"
                            :hidden="!excel"
                            @click="startBot"
                    >
                        Back
                    </v-btn>


                    <a href="/static/scraping.xlsx">
                        <v-btn
                                color="success"
                                :hidden="!excel"
                        >
                            Excel
                        </v-btn>
                    </a>


                </v-stepper-content>


            </v-stepper>
        </v-container>
    </v-app>
</div>


<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                valid: false,
                excel: false,
                validForm: [v => !!v || 'Please input'],
                e13: 1,
                token: '',
                status: '',
                stop: '',
                switch1: false,
                timeout: 2000,
                snackbar1: false,
                snackbar2: false,
                startPage: '',
                endPage: '',
            }
        },
        methods: {
            submit() {
                let form = this.$refs.form.validate();
                if (form === true) {
                    this.status = '';
                    this.excel = false
                    if (this.switch1 === true) {
                        let data = {
                            condition: this.switch1,
                            token: this.token,
                            start: this.startPage,
                            end: this.endPage
                        }
                        const path = '/monitoring_bot';
                        this.e13 = 2;
                        setInterval(function () {
                            this.statusBot();
                        }.bind(this), 6000)
                        axios.post(path, data)
                            .then(() => {
                                this.snackbar1 = true;
                                console.log('ok')
                            })
                            .catch((err) => {
                                console.error(err);
                            })
                    } else {
                        let data = {
                            token: this.token,
                        }
                        const path = '/monitoring_bot';
                        this.e13 = 2;
                        setInterval(function () {
                            this.statusBot();
                        }.bind(this), 6000)
                        axios.post(path, data)
                            .then(() => {
                                this.snackbar1 = true;
                                console.log('ok')
                            })
                            .catch((err) => {
                                console.error(err);
                            })
                    }

                }

            },
            statusBot() {
                const path = '/status_bot';
                axios.get(path)
                    .then((res) => {
                        this.status = res.data.status;
                        if (this.status === 'finished') {
                            this.excel = true;
                        }
                        console.log(this.status)
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            },
            terminateBot() {
                this.status = 'finished...'
                const path = '/terminate_bot';
                axios.get(path)
                    .then(() => {
                        this.snackbar2 = true
                        console.log('success')
                        this.excel = true;
                        this.stop = 'finished...'
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            },
            startBot() {
                const path = '/start_bot';
                axios.get(path)
                    .then(() => {
                        this.e13 = 1;
                        this.status = '';
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            },

        },
        delimiters: ['[[', ']]']
    })

</script>

{% endblock %}