{% extends "sbadmin/layout2.html" %} {% block content %}

<div id="app">
  Counter: [[counter]]
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: "dataArray",
            counter: 0
        },
        delimiters: ["[[", "]]"],
        mounted() {
            setInterval(() => {
                this.counter++

            }, 1000)
            console.log("vue : " + this.message)
            console.log('counter: ' + this.counter)
        },
        method: {

        },
    })
</script>

{% endblock %}
