{% extends "customers_new/layout2.html" %}
{% block content %}


<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
</nav>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Boardcast</h1>

    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="col mr-2">
                        <form class="user" method="POST" action="">
                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="broadcast"
                                           class="text-xs font-weight-bold text-danger text-uppercase mb-1">BROADCAST:</label>
                                    <input type="text" class="form-control" id="broadcast" name="msg" required>
                                </div>
                                <div class="col-sm-4">
                                    <br>
                                    <button type="submit" class="btn btn-warning">Boardcast</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">จำนวนข้อความ</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 mm">{{data.msg}}</div>
                        </div>
                        <div class="">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->

    <div class="row">


        <div class="col-xl-4 col-lg-5 d-none">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">intent</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#home">
                                <i class="fa fa-users"></i>
                                ข้อมูลลูกค้า
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu1">
                                <i class="fa fa-check"></i>
                                นำเข้า
                                 <span class="badge badge-light">{{data.rmsg}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="col-sm-4">
                    <div class="align-content-end">
                        <a href="/download" class="btn btn-success">
                            <i class="fa fa-file-excel-o"></i>
                            Export Excel
                        </a>

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-exclamation-triangle"></i>
                            All Delete
                        </button>
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirm Delete</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Delete all transaction... <br>
                                        Are you sure ?
                                    </div>
                                    <div class="modal-footer">
                                        <a {% for d in data.users %}
                                           href="/delete/{{d.key}}"
                                           {% endfor %} class="btn btn-danger btn">All Delete</a>
                                        <button type="button" class="btn btn-danger btn" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="POST">
            <div class="card-body">
                <div class="tab-content">
                    <div id="home" class="container tab-pane active"><br>
                        <div class="table-responsive">
                            <table class="display" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>Index</th>
                                    <th>Name</th>
                                    <th>Product</th>
                                    <th>Company</th>
                                    <th>Tel</th>
                                    <th>Email</th>
                                    <th>Email(permission)</th>
                                    <th>Message</th>
                                    <th>Profile</th>
                                    <th>Date/time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in data.users %}
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="checkbox"
                                                   name="key"
                                                   id="{{e.key}}"
                                                   value="{{e.key}}"
                                                   {% if e.key in data.users.key %} checked {% endif %}>
                                        </div>
                                    </td>
                                    <td>{{e.index}}</td>
                                    <td>{{e.Name}}</td>
                                    <td>{{e.Product}}</td>
                                    <td>{{e.Company}}</td>
                                    <td>{{e.Tel}}</td>
                                    <td>{{e.Email}}</td>
                                    <td>{{e.EmailLiff}}</td>
                                    <td>{{e.Message}}</td>
                                    <td>{{e.Profile}}</td>
                                    <td>{{e.Date}} {{e.Time}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade"><br>
                        <div class="table-responsive">
                            <table class="display" id="restTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Insert</th>
                                    <th>Index</th>
                                    <th>Name</th>
                                    <th>Product</th>
                                    <th>Company</th>
                                    <th>Tel</th>
                                    <th>Email</th>
                                    <th>Email(permission)</th>
                                    <th>Message</th>
                                    <th>Profile</th>
                                    <th>Date/time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in data.est %}
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="checkbox"
                                                   name="insert"
                                                   id="insert"
                                                   value="{{r.key}}"
                                                   {% if r.key in data.est.key %} checked {% endif %}>
                                        </div>
                                    </td>

                                    <td>{{r.index}}</td>
                                    <td>{{r.event.firstname}}</td>
                                    <td>{{r.event.product}}</td>
                                    <td>{{r.event.company}}</td>
                                    <td>{{r.event.tel}}</td>
                                    <td>{{r.event.email}}</td>
                                    <td>{{r.event.token}}</td>
                                    <td>{{r.event.comment}}</td>
                                    <td>{{r.event.displayName}}</td>
                                    <td>{{r.day}}/{{r.month}}/{{r.year}} {{r.hour}}:{{r.min}}:{{r.sec}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <button type="submit" name="delete_button" value="Insert_button" class="btn btn-success btn-sm">
                            <i class="fa fa-check-square-o"></i>
                            Insert Index
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="submit" name="delete_button" value="Excel_button" class="btn btn-warning btn-sm">
                            <i class="fa fa-check-square-o"></i>
                            Excel Index
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="submit" name="delete_button" value="Delete_button" class="btn btn-danger btn-sm">
                            <i class="fa fa-check-square-o"></i>
                            Delete Index
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>


<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            // "order": [[0, "desc"]]
        });
    });


</script>

<script>
    $(document).ready(function () {
        $('#restTable').DataTable({
            // "order": [[0, "desc"]]
        });
    });


</script>


<script>
    document.getElementById('select-all').onclick = function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>


{% endblock %}
