{% extends "customers_new/layout2.html" %} {% block content %}

<!-- Page Heading -->
<div id="content">
  <div id="app">
    <div class="card" style="margin: 15px;">
      <div class="card-header">
        <h1>Setting System</h1>
      </div>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item" v-bind:class="{active : !FBactive}">
            <a class="nav-link" href="#" @click="
            FBactive = false;
            CATactive = true;
            DSUactive = true;
            ">
              <h4>Firebase</h4>
            </a>
          </li>
          <div class="vl"></div>
          <li class="nav-item" v-bind:class="{active : !CATactive}">
            <a class="nav-link" href="#" @click="
            FBactive = true;
            CATactive = false;
            DSUactive = true;
            ">
              <h4>Messaging API</h4>
            </a>
          </li>
          <div class="vl"></div>
          <li class="nav-item" v-bind:class="{active : !DSUactive}">
            <a class="nav-link" href="#" @click="
            FBactive = true;
            CATactive = true;
            DSUactive = false;
            ">
              <h4>Domain Server URL</h4>
            </a>
          </li>
        </ul>
      </nav>
      <div class="card-body">


        <div class="fb" v-bind:class="{isShow : FBactive}">
          <p style="font-size: 1.25em;">Your web app's Firebase configuration</p>
          <hr>
          <div class="row">
            <div class="col-6">
              <h4>Example</h4>
              <pre>
{
"apiKey": "AIzaSyDylMwsCrprPoN8JtDFGw4fkxw2ZZgdc7s",
"authDomain": "chatbot-mango.firebaseapp.com",
"databaseURL": "https://chatbot-mango.firebaseio.com",
"projectId": "chatbot-mango",
"storageBucket": "chatbot-mango.appspot.com",
"messagingSenderId": "304952468693",
"appId": "1:304952468693:web:7fb265fa15d5736137ee5c",
"measurementId": "G-ZK9D1N662G"
}
        </pre>
            </div>
            <div class="col-6">
              <textarea class="form-control" v-model="jsonfb" name="" id="" cols="30" rows="10" placeholder='{
      "apiKey": "AIzaSyDylMwsCrprPoN8JtDFGw4fkxw2ZZgdc7s",
      "authDomain": "chatbot-mango.firebaseapp.com",
      "databaseURL": "https://chatbot-mango.firebaseio.com",
      "projectId": "chatbot-mango",
      "storageBucket": "chatbot-mango.appspot.com",
      "messagingSenderId": "304952468693",
      "appId": "1:304952468693:web:7fb265fa15d5736137ee5c",
      "measurementId": "G-ZK9D1N662G"
}'></textarea>
            </div>
          </div>
          <div style="text-align: -webkit-right;">
            <button class="form-control btn-primary" style="width: 250px;" @click="setfb">Set Firebase</button>
          </div>
        </div>
        <div v-bind:class="{isShow : CATactive}">
          <h4>Channel Info</h4>
          <div class="row" style="margin: 5px;">
            <div class="col-2" style="text-align: right;align-self: center;">
              Channel ID :
            </div>
            <div class="col-4">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
          <div class="row" style="margin: 5px;">
            <div class="col-2" style="text-align: right;align-self: center;">
              Channel Secret :
            </div>
            <div class="col-6">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
          <h4>Webhook URL</h4>
          <div class="row" style="margin: 5px;">
            <div class="col-2" style="text-align: right;align-self: center;">
              Webhook URL :
            </div>
            <div class="col-6">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
        </div>
        <div v-bind:class="{isShow : DSUactive}">
          <h4>Domain</h4>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var dbref = firebase.database().ref("transaction_mango/datasets");

  var app = new Vue({
    el: '#app',
    data: {
      FBactive: false,
      CATactive: true,
      DSUactive: true,
      jsonfb: "",
    },
    methods: {
      setfb: function () {
        var jsons = JSON.parse(this.jsonfb)
        console.log(jsons);
      }
    }
  })

  // setInterval(function(){console.log(app.dataset);},3000);

  // firebase.analytics();
</script>
<style>
  .isShow {
    display: none;
  }

  .vl {
    border-left: 1px solid rgb(212, 212, 212);
    height: auto;
  }

  .panel-heading {
    padding: 0;
    border: 0;
  }

  .panel-title {
    display: block;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
  }

  .panel-heading i {
    float: right;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .panel-heading i.active {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .selectIntent:hover .selectIcon {
    display: inline;
  }


  .selectIntent .selectIcon {
    display: none;
  }
</style>
{% endblock %}
