{% extends "customers_new/loginLayout.html" %}
{% block content %}


    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="col-xl-8 col-md-10">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="far fa-user-circle fa-2x" style="margin-right: 5px"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h2 mb-0 font-weight-bold text-gray-800">
                            <span> LINE BOT  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% for i in range(0, customer) %}
        {% if 0 == i %}
            <div class="card" style="width: 18rem;">
                <img src="{{ data[i].val().picture }}"
                     class=" card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        รหัสลูกค้า: {{ data[i].val().user }}
                    </p>
                    <p>
                        เรื่องที่แจ้ง: {{ data[i].val().subject }}
                    </p>
                    <p>
                        สถานะ: รอตรวจสอบ
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}




{% endblock %}
