{% extends "customers_new/loginLayout.html" %}
{% block content %}


    <div id="app">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="col-xl-8 col-md-10">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="far fa-comment-dots fa-2x" style="margin-right: 5px"></i>
                        </div>
                        <div class="col mr-2">
                            <div class="h2 mb-0 font-weight-bold text-gray-800">
                                <span>[[message]]</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn bg-success text-white" data-toggle="modal"
                                    data-target="#exampleModal">
                                Create Intent
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Intent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="text" class="form-control" style="margin-bottom: 0.5em" placeholder="Intent Name"
                           v-model="intname"/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-success" v-on:click="createintents()">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xl-8 col-md-10 py-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg bg-white border-1 small"
                       placeholder="Search intents"
                       aria-label="Search" aria-describedby="basic-addon2" v-model="textSearch"
                       v-on:change="filteredList"/>
                <i class="fas fa-search fa-lg" style="
            position: absolute;
            right: 15px;
            top: 17px;
            color: rgb(192, 192, 192);
          "></i>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <div v-for="(item,index) in filteredList()">
            <div class="row" style="padding-bottom: 0.5em">
                <div class="col-xl-8 col-md-10">
                    {% set len_intent = len(ref) %}
                    {% for r in range(0, len_intent) %}
                        <div class="card border-left-success shadow selectIntent">
                            <li class="list-group-item" :click="editIntent(this)" style="height: 60px">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0">
                                            {% if r == 0 %}
                                                <a ref="item.id" :href="'new_intent/'+item.id"
                                                   class="font-weight-bold text-gray-800">
                                                <p style="color: red;"><span> {{ ref[r] }} </span></p>
                                            {% endif %}
                                            {% if r == 2 %}
                                                <a ref="item.id" :href="'new_intent/'+item.id"
                                                   class="font-weight-bold text-gray-800">
                                                <p style="color: red;"><span> {{ ref[r] }} </span></p>
                                            {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-auto selectIcon">
                                        <a v-if="item.key != 0">
                                            <i class="fas fa-trash-alt fa-2x text-gray-500"
                                               v-on:click="deleteintent(item.id,item.key)"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </ul>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Intents Task Test",
                dataset: [],
                textSearch: "",
                editintent: "",
                intname: "",
                inttype: "",
                last_id: 0,
            },
            delimiters: ["[[", "]]"],
            mounted() {
            }
        });
    </script>

{% endblock %}
